@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="~/Scripts/App/product.js"></script>

<script type="text/javascript">
    $(function () {
        window.ko.applyBindings(new ProductViewModel());
    });
</script>

<div>
    <h2>Edit Product</h2>
    <div data-bind="with: currentProduct">
        <p>Product Code:     <input type="text" data-bind="value: productCode" disabled/></p>
        <p>Product Name:     <input type="text" data-bind="value: productName" /></p>
        <p>Product Price:    <input type="text" data-bind="value: productPrice" /></p>
        <p>Product Quantity: <input type="text" data-bind="value: productQty" /></p>
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Order Qty</th>
                <th>Express Shipping</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: product.productOrders()">
            <tr>
                <td data-bind="text: customer"></td>
                <td data-bind="text: qty"></td>
                <td data-bind="checked: express"></td>
            </tr>
        </tbody>
    </table>
    <p><input type="button" value="Save" data-bind="click: saveProduct"/></p>
</div>
